<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <div>名字是 {{name}}</div>
    <div>年龄是 {{age}}</div>
    <div>info.a是 {{info.a}}</div>
    <label>
      <input type="text" v-model="name"/>
    </label>
    <label>
      <input type="text" v-model="age"/>
    </label>

  </div>

</body>

<script src="./vue.js"></script>
<script>
  const vm = new Vue({
    el: "#app",
    data: {
      name: 'zs',
      age : 20,
      info: {
        a: 'a1',
        b: 'b1'
      }
    }
  })
  console.log(vm);
</script>

</html>
